[Unit]
Description=OpenStack %I API Service

[Service]
ExecStart=/usr/bin/uwsgi_python310 --die-on-term --enable-threads --master --thunder-lock /etc/uwsgi.d/%I.ini
User=%I
Group=%I
WorkingDirectory=/etc/%I
KillSignal=SIGTERM
StateDirectory=%I

[Install]
WantedBy=multi-user.target
